<div id="main">
  <img id="hero" src="/assets/hero.jpg" alt="Bassem &amp; Tia">
</div>
<section class="headline-container">
  <h1 id="headline">
    <span class="b">Bassem Shaker</span> &amp; <span class="t">Tia Kharrat</span>
    <br/>are getting married on<br/>September 20th, 2014<br/> in Cairo, Egypt
  </h1>
</section>
<section class="post-main">
  <h2>Location</h2>
  <p>The ceremony will be held in Kasr El Dobara Church at 1:30pm on September 20th, 2014.</p>
  <p>Below is a map of the church in downtown Cairo.</p>
</section>
<a id="map" href="https://www.google.com/maps/place/Kasr+El+Dobara+Evangelical+Church/@30.042216,31.234767,16z/data=!4m2!3m1!1s0x145840b799f70327:0xc8e835dec378ae2f">
    <span>
      Kasr El Dobara Church<br>
      7, El Shikh Rihany Street,<br>
      Cairo, Egypt
    </span>
</a>
<section>
  <h2>For people coming from abroad</h2>
  <h3>Travel</h3>
  <p>Flights from the United Kingdom are around £280 – £300 return.</p>
  <p>We are trying to arrange for low cost accomodation for people coming from abroad. Please get in touch with us so we can reserve a place for you.</p>
  <p>We estimate spending money to be in the range of £30 per day for everything including transportation, food, museums, etc.</p>
  <h3>Itinerary</h3>
  <ul>
    <li><strong>September 12: </strong> To make the most of your trip, we advise that you book your flight around this date.<br/> If you can come earlier, then even better. We can arrange for airport pickups. <i>Please let us know before you book so that we can advise and coordinate.</i></li>
    <li><strong>September 13: </strong> Alexandria. Costal city site seeing. Library of Alexandria. Great seafood! Then off to the beach!</li>
    <li><strong>September 14: </strong> Mediterranean north coast (beach day!!!)</li>
    <li><strong>September 15: </strong> Back in Cairo; Nile felucca</li>
    <li><strong>September 16: </strong> Gezira Club and Khan El Khalili</li>
    <li><strong>September 17: </strong> Fayoum Oasis bachelor and bachelorette party</li>
    <li><strong>September 18: </strong> Breakfast in Fayoum then back to Cairo free time</li>
    <li><strong>September 19: </strong> Great Pyramids</li>
    <li><strong>September 20: </strong> Wedding!</li>
    <li><strong>September 21: </strong> Fly back</li>
  </ul>
</section>
