<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Bassem &amp; Tia</title>
  <link href="/assets/application.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= yield %>
  <footer>
    <p>Made with Ruby, powered by Sinatra. </p>
  </footer>
</body>
</html>