// Sizing
$width: 640px;

// Colors
$bassem-color: #c0392b;
$tia-color: #8e44ad;
$heading-color: #2980b9;
$link-color: $bassem-color;
$text-color: #2c3e50;

// Media Queries\
$iphone-portrait: "all and (max-width: 320px)";
$iphone-landscape: "all and (max-width: 480px)";
$ipad-portrait: "all and (max-width: 768px)";
$ipad-landscape: "all and (max-width: 1024px)";
