@import "bourbon";
@import "globals/*";
@import "components/reset";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4em;
  color: $text-color;
  background: #fefefe;
}

section {
  @include box-sizing(border-box);
  max-width: $width;
  margin: 0 auto;
  margin-top:5em;
  padding: 10px;
}

iframe {
  width: 100%;
}

img {
  width: 100%;
}

a {
  color: $tia-color;
}

.b {
  color: $bassem-color;
}

.t {
  color: $tia-color;
}
#main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 540px;
    padding-top:0px;
    overflow: hidden;
}

section.post-main{
  margin-top: 500px;
}
img#hero {
    width: 100%;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1#headline {
  position:absolute;
  margin-top:1.2em;
  top:0px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  width:45%;
  padding:1em;
  border:1px solid rgba(255,255,255,0.15);
  background-color:rgba(255,255,255,0.8);
  color:#666;
  transition: all 0.6s;
  -webkit-transition: all 0.6s; /* Safari */
}

h1 {
  font-weight: 200;
  text-align: center;
  font-size: 40px;
  color: #888;
  line-height: 1.2em;
}

h2 {
  font-weight: 900;
  font-size:26px;
  margin-bottom:0.8em;

  color: $heading-color;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: desaturate(lighten($tia-color, 8%), 34%);
  text-align: left;
  margin: 1em auto;
}
strong{
  font-weight: 800;
}
i {
  background-color: #fffff0;
}
p {
  margin-bottom: 1.5em;
}
footer{
  font-size:13px;
  color: lighten($text-color, 15%);
  margin:0 auto;
  width:320px;
  text-align:center;
  padding-top: 40px;
}

a#map {
  background: url(/assets/map.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #686667;
  position: relative;
  font-weight: 700;
  height: 480px;


  span {
    @include box-sizing(border-box);
    @include linear-gradient(rgba(44, 62, 80, 0), rgba(44, 62, 80, 1));
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 60px 20px 10px;
    width: 100%;
    color: #fff;
  }

  @include hidpi(1.5) {
    background-image: url(/assets/map@2x.jpg);
  }
  @media #{$iphone-landscape} {
    background: url(/assets/map.jpg) no-repeat 80% 80%;
  }
}

a#map-pyramids {
  background: url(/assets/map_pyramids.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: block;
  width: 100%;
  height: 620px;
  text-decoration: none;
  color: #686667;
  position: relative;
  font-weight: 700;

  span {
    @include box-sizing(border-box);
    @include linear-gradient(rgba(149, 165, 166,0), rgba(149, 165, 166,1.0));
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 60px 20px 10px;
    width: 100%;
    color: #fff;
  }

  @include hidpi(1.5) {
    background-image: url(/assets/map_pyramids@2x.jpg);
  }
  @media #{$iphone-landscape} {
    background: url(/assets/map_pyramids.jpg) no-repeat 60% 80%;
  }

}

@media #{$ipad-landscape} {
  #main {
    height: 520px;
  }
  img#hero {
    width: 134%;
  }  h1#headline {
    padding: 0.8em;
    font-size: 32px;
  }
  section.post-main {
    margin-top: 440px;
  }
}
@media #{$ipad-portrait} {
  #main {
    height: 480px;
  }
  img#hero {
    width: 134%;
  }
  h1#headline {
    padding: 0.6em;
    width: 60%;
    font-size: 28px;
  }
  section.post-main {
    margin-top: 400px;
  }
}
@media #{$iphone-landscape} {
  #main{
    height: 320px;
  }
  img#hero {
    width: 150%;
  }
  h1#headline {
    font-size: 27px;
    width:70%;
    padding:0.6em;
    margin-top:1em;
  }
  section.post-main {
    margin-top: 260px;
  }
}
@media #{$iphone-portrait} {
  h1#headline {
    font-size: 22px;
    width:85%;
  }
  #main{
    height: 280px;
  }
  img#hero {
    left: -100px;
    width: 220%;
  }
  section.post-main {
    margin-top: 200px;
  }
}